<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlJGYwUZeWk31GG2_-jlodOuZGiTJRA84</string>
	<key>GCM_SENDER_ID</key>
	<string>68392248210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pennySmartWalletApp</string>
	<key>PROJECT_ID</key>
	<string>penny-smart-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>penny-smart-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68392248210:ios:dbcf1fa5bbe6d38df1974b</string>
</dict>
</plist>